.hero-title {
    font-family: sans-serif;
    margin: 1.5em;
    /* margin-bottom: 1.5em; */
}

p {
  margin: 20px;
  padding: 30px;
  border-radius: 10%;
  /* box-shadow: 2px 2px 7px 2px #000000; */
}

img {
    /* width: px;  */
    height: 300px;
    object-fit: cover;
  }

.Landing {
  padding: 20px;
  background-color: white;
  color: black;
}  