.notemanager     {
    /* font-family: ; */
    text-align: center;
  }

#sitternotes-list {
    /* font-family: ; */
    text-align: center;
  } 

  /* table, th, td {
    border: 1px solid black;
} */

#sitternotes-submit textarea {
    font-size:16px;
    /* padding:10px; */
    }