body {
  background-color: lightgray;
}

.App {
  /* background: lightgray; */
  text-align: center;
  color: black;
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
}



/* .Landing {
  padding: 10px;
  background-color: white;
  color: black;
  font-family: Circular;
  font-size: 20px;
}

.Library {
  padding: 10px;
  background-color: white;
  color: black;
  font-family: Circular;
  font-size: 20px;
} */
